* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #2F4F4F;
}

body {
  background: #FFFCFC;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background-color: lightcoral;
  color: black;
  padding: 0.6rem 1.3 rem;
  text-decoration: none;
  border: 4px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 160px 1fr 1fr 1fr 1fr 1fr 1fr;

}

.header-container {
  display: grid;
  grid-column: 1/4;
  grid-template-areas:
  'header nav';
}

.header {
  grid-area: header;
  grid-column: 1/3;
  background-color: grey;
  min-height: 120px;
  padding: 10px;
  
}

.nav {
  background-color: lightgreen;
  grid-area: nav;
  grid-column: 3/4;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;

}

.nav a {
  text-decoration: none;
  padding: .4rem;

}

.hero {
  background-color: burlywood;
  grid-column: 1/4;
}


.intro {
  display: grid;
  grid-column: 1/4;
  text-align: center;
}

.services {
  display: grid;
  grid-column: 1/4;
  grid-gap: 2px;
  grid-template-areas:
  'service service service';
  
}

.service {
  background: lightblue;
  text-align: center;
  padding: 1.5rem 2rem;
}

.portfolio {
  display: grid;
  grid-column: 1/4;
  grid-template-areas:
  'project1 project2 project3';
}

.project1 {
  grid-area: project;
  display: grid;
  grid-column: 1/2;
  text-align: center;
}

.project2 {
  grid-area: project;
  display: grid;
  grid-column: 2/3;
  text-align: center;
}

.project3 {
  grid-area: project;
  display: grid;
  grid-column: 3/4;
  text-align: center;
}


.cta {
  display: grid;
  grid-column: 1/4;
  text-align: center;
}

.footer {
  display: grid;
  grid-column: 1/4;
  text-align: center;
}



























